/ObjetoGeometrico/nbproject/private/
/ObjetoGeometrico/build/
/VeiculoAVenda/nbproject/private/
/VeiculoAVenda/build/
/JavaApplication6/nbproject/private/
/ItemOrcamento/nbproject/private/
/ProjetoLivro/nbproject/private/
/ProjetoLivro/build/
